@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
body::before,
body::after {
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
  background-color: #121212;
  color: #fff;
  overflow-x: hidden;
}

.banner {
  background-image: url("./assets/banner-bg.png");
  background-position: top center;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-animate {
  animation: updown 3s linear infinite;
}

@keyframes updown {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}

.skills {
  background-image: url("./assets/color-sharp.png");
  background-position: top center;
  width: 100vw;
  background-repeat: repeat;
  background-size: cover;
  padding: 0 30px;
}

.projects {
  background-image: url("./assets/color-sharp2.png");
  background-position: top center;
  width: 100vw;
  background-repeat: repeat;
  background-size: cover;
  padding: 0 30px;
}

.footer {
  background-image: url("./assets/footer-bg.png");
  background-position: top center;
  width: 100vw;
  background-repeat: repeat;
  background-size: cover;
  padding: 0 30px;
}
